/******IMPORTS****************
*******************************/
@import url("bootstrap.css");
@import url("fonts.css");

/*******GENERAL STUFF**********
******************************/
.head {
  text-align: center;
  text-style: oblique;
}

body {
  background-color: lightgrey;
  overflow-y: hidden;
}

.card-body {
  padding-left: 0% !important;
}

.p {
  font-size: 30px;
  font-style: italic;
  font-family: 'East Sea Dokdo', cursive;
}

.container {
  align-content: center;
  padding-left: 20%
}

h3 {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 30px;
}

h2 {
  text-decoration: underline;
  text-decoration-style: dotted: underline;
  text-align: center;
}

.cp {
  margin-top: 4%;
}
