/******IMPORTS****************
*******************************/
@import url("bootstrap.css");
@import url("fonts.css");

/*******GENERAL STUFF**********
******************************/
.head {
  text-align: center;
  text-style: oblique;
}

body {
  background-color: lightgrey;
}

.card-body {
  padding-left: 10% !important;
}

.p {
  font-size: 25px;
  font-style: italic;
  font-family: 'East Sea Dokdo', cursive;
}

.container {
  align-content: center;
  padding-left: 20%
}

h3 {
  font-family: 'East Sea Dokdo', cursive;
}

h2 {
  text-decoration: underline;
}
